php_value error_reporting -1
php_value display_errors stdout
php_flag display_startup_errors on


<IfModule mod_rewrite.c>
    Options -MultiViews
    RewriteEngine on
    
    RewriteBase /web
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>